<section id="about-us">
    <main>
        <div class="about-us-container">
            <div class="about-us-subtext">
                <p style="color: #000;
                text-align: justify;
                font-family: Product Sans Light;
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: 28px;
                margin: 0;">At <span style="color: #000;
                                        font-family: Product Sans Medium;
                                        font-size: 24px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 28px;">GOAMAZ SOFTWARE SOLUTIONS</span>, we are at the forefront of innovation in cloud hosting technology, dedicated to empowering healthcare organizations of all sizes. We specialize in providing scalable, reliable, secure, and compliant cloud solutions tailored to the unique needs of the healthcare industry.</p>
            </div>
            <div class="about-us-trust-points-container responsive" style="overflow-y: hidden;">
                <div class="point" data-aos="fade-up" data-aos-duration="1000">
                    <ul><li>Trusted Partners in Healthcare</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-1.svg" />
                        <p>With a reputation built on trust and expertise, we have become a trusted partner for numerous healthcare groups. Our strategic collaborations with the world's leading healthcare technology companies further solidify our commitment to delivering cutting-edge solutions.</p>
                    </div>
                </div>
                <div class="point" data-aos="fade-up" data-aos-duration="1000">
                    <ul><li>Elevating Healthcare IT</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-2.svg" />
                        <p>Our mission is to elevate healthcare IT infrastructure and operations. We understand the challenges that healthcare organizations face in managing their IT systems, controlling costs, and ensuring compliance with industry regulations. This understanding drives our relentless pursuit of excellence in cloud hosting technology.</p>
                    </div>
                </div>
                <div class="point" data-aos="fade-up" data-aos-duration="1000">
                    <ul><li>Comprehensive Managed Services</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-3.svg" />
                        <p>Beyond hosting, we offer an array of managed services designed to fortify your healthcare organization. From robust disaster recovery solutions to state-of-the-art security measures and compliance assurance, we have you covered. Our holistic approach ensures that your IT environment remains resilient and compliant.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-trust-points-container unresponsive">
                <div class="point">
                    <ul><li>Trusted Partners in Healthcare</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-1.svg" />
                        <p>With a reputation built on trust and expertise, we have become a trusted partner for numerous healthcare groups. Our strategic collaborations with the world's leading healthcare technology companies further solidify our commitment to delivering cutting-edge solutions.</p>
                    </div>
                </div>
                <div class="point">
                    <ul><li>Elevating Healthcare IT</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-2.svg" />
                        <p>Our mission is to elevate healthcare IT infrastructure and operations. We understand the challenges that healthcare organizations face in managing their IT systems, controlling costs, and ensuring compliance with industry regulations. This understanding drives our relentless pursuit of excellence in cloud hosting technology.</p>
                    </div>
                </div>
                <div class="point">
                    <ul><li>Comprehensive Managed Services</li></ul>
                    <div class="point-card">
                        <img src="assets/images/point-card-3.svg" />
                        <p>Beyond hosting, we offer an array of managed services designed to fortify your healthcare organization. From robust disaster recovery solutions to state-of-the-art security measures and compliance assurance, we have you covered. Our holistic approach ensures that your IT environment remains resilient and compliant.</p>
                    </div>
                </div>
            </div>
            <div class="about-us-why-choose-container responsive" style="overflow-x: hidden;">
                <p class="why-choose">Why Choose GOAMAZ SOFTWARE SOLUTIONS?</p>
                <div class="point-row" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/images/point-row-1.svg" />
                    <div>
                        <p class="header">
                            Expertise:
                        </p>
                        <p class="subtext">
                            With years of experience, our team boasts deep knowledge of healthcare IT needs, enabling us to provide tailored solutions.
                        </p>
                    </div>
                </div>
                <div class="point-row" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/images/point-row-2.svg" />
                    <div>
                        <p class="header">
                            Reliability:
                        </p>
                        <p class="subtext">
                            We guarantee reliable and secure cloud hosting services to keep your critical healthcare data safe and accessible.
                        </p>
                    </div>
                </div>
                <div class="point-row" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/images/point-row-3.svg" />
                    <div>
                        <p class="header">
                            Scalability:
                        </p>
                        <p class="subtext">
                            As your organization grows, our solutions can scale seamlessly to accommodate your evolving requirements.
                        </p>
                    </div>
                </div>
                <div class="point-row" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/images/point-row-4.svg" />
                    <div>
                        <p class="header">
                            Cost Efficiency:
                        </p>
                        <p class="subtext">
                            We help you reduce IT expenditure while maintaining the highest standards of service.
                        </p>
                    </div>
                </div>
                <div class="point-row" data-aos="fade-right" data-aos-duration="1000">
                    <img src="assets/images/point-row-5.svg" />
                    <div>
                        <p class="header">
                            Compliance Assurance:
                        </p>
                        <p class="subtext">
                            Our services ensure that your organization stays compliant with healthcare regulations, giving you peace of mind.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-us-why-choose-container unresponsive">
                <p class="why-choose">Why Choose GOAMAZ SOFTWARE SOLUTIONS?</p>
                <div class="point-row">
                    <img src="assets/images/point-row-1.svg" />
                    <div>
                        <p class="header">
                            Expertise:
                        </p>
                        <p class="subtext">
                            With years of experience, our team boasts deep knowledge of healthcare IT needs, enabling us to provide tailored solutions.
                        </p>
                    </div>
                </div>
                <div class="point-row">
                    <img src="assets/images/point-row-2.svg" />
                    <div>
                        <p class="header">
                            Reliability:
                        </p>
                        <p class="subtext">
                            We guarantee reliable and secure cloud hosting services to keep your critical healthcare data safe and accessible.
                        </p>
                    </div>
                </div>
                <div class="point-row">
                    <img src="assets/images/point-row-3.svg" />
                    <div>
                        <p class="header">
                            Scalability:
                        </p>
                        <p class="subtext">
                            As your organization grows, our solutions can scale seamlessly to accommodate your evolving requirements.
                        </p>
                    </div>
                </div>
                <div class="point-row">
                    <img src="assets/images/point-row-4.svg" />
                    <div>
                        <p class="header">
                            Cost Efficiency:
                        </p>
                        <p class="subtext">
                            We help you reduce IT expenditure while maintaining the highest standards of service.
                        </p>
                    </div>
                </div>
                <div class="point-row">
                    <img src="assets/images/point-row-5.svg" />
                    <div>
                        <p class="header">
                            Compliance Assurance:
                        </p>
                        <p class="subtext">
                            Our services ensure that your organization stays compliant with healthcare regulations, giving you peace of mind.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>