#home {
    margin: 0;
    padding: 0;
    min-width: 1400px;

    @media (max-width: 1040px) {
        width: 100%;
        min-width: 100%;
    }
}

.landing-container {
    padding: 40px 100px;

    @media (max-width: 1040px) {
        padding: 20px;
    }
}

::ng-deep .ant-carousel {
    height: 640px;

    @media (max-width: 1040px) {
        height: 860px;
    }

    @media (max-width: 1000px) {
        height: 820px;
    }

    @media (max-width: 940px) {
        height: 780px;
    }

    @media (max-width: 880px) {
        height: 740px;
    }

    @media (max-width: 820px) {
        height: 700px;
    }

    @media (max-width: 760px) {
        height: 660px;
    }

    @media (max-width: 700px) {
        height: 620px;
    }
    
    @media (max-width: 640px) {
        height: 580px;
    }

    @media (max-width: 580px) {
        height: 540px;
    }

    @media (max-width: 520px) {
        height: 500px;
    }

    @media (max-width: 460px) {
        height: 460px;
    }

    @media (max-width: 390px) {
        height: 400px;
    }
}

.container-1 {
    display: flex;
    flex-direction: row;
    height: min-content;
}

.landing-main-text-container-mobile-view {
    display: none;

    @media (max-width: 1040px){
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #EC5649;

        p {
            width: 100%;
            color: #2C2C2C;
            font-family: Space Grotesk;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        button {
            width: 180px;
            height: 50px;
            display: flex;
            flex-direction: row;
            gap: 5px;
            justify-content: center;
            align-items: center;
        }

        img.landing-main-image-mobile-view {
            margin-top: 20px;
            width: 100%;
            height: auto;
        }
    }
}

.landing-main-text-container-web-view {
    width: 100%;
    min-width: 1200px;
    height: 600px;
    border-bottom: 2px solid #EC5649;

    @media (max-width: 1040px) {
        display: none;
    }

    p {
        width: 50%;
        color: #2C2C2C;
        font-family: Space Grotesk;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    button {
        width: 180px;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: #EC5649;
        color: #FFF;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
}

.landing-main-image-container {
    width: 50%;
}

.container-2 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    @media (max-width: 1040px) {
        flex-wrap: wrap;
    }

    .text-container {
        width: 55%;

        @media (max-width: 1040px) {
            width: 100%;
        }

        p {
            font-family: Product Sans Light;
            font-size: 20px;
            font-weight: 300;
            text-align: justify;
        }

        .header {
            font-family: Space Grotesk;
            font-size: 28px;
            font-weight: 500;

            span {
                font-size: 40px;
                font-weight: 500;
            }
        }
    }

    .image-container {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 1040px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.responsive {
    display: flex !important;

    @media (max-width: 390px) {
        display: none !important;
    }
}

.unresponsive {
    display: none !important;

    @media (max-width: 390px) {
        display: flex !important;
    }
}